<div
  class="max-w-3xl mx-auto p-6 bg-[var(--color-brand4)] rounded-2xl shadow-md border border-[var(--color-brand3)]/30 space-y-6"
>
  <!-- Header -->
  <div class="flex items-center gap-4 mb-4 border-b-4 border-[var(--color-brand2)] pb-3">
    <button
      (click)="backToProfile()"
      class="bg-[var(--color-brand2)] hover:bg-[var(--color-brand3)] transition-colors duration-200 rounded-full w-10 h-10 flex items-center justify-center shadow-md"
      title="Back to Profile"
    >
      <lucide-icon name="chevron-left" class="w-6 h-6 text-white"></lucide-icon>
    </button>

    <h2 class="text-2xl md:text-3xl font-bold text-[var(--color-brand1)] uppercase tracking-wide">
      Edit Profile
    </h2>
  </div>

  <app-profile-form-component
  [profile]="profile"
  [formMode]="editMode"
  [isSubmitting]="loading"
  [submittingInfo]="loadingInfo"
  (emailChanged)="handleEmailChanged($event)"
  (usernameChanged)="handleUsernameChanged($event)"
  (create)="handleSave($event)"
  ></app-profile-form-component>
</div>
