<div class="flex items-center gap-4 mb-8 border-b-4 border-[var(--color-brand2)] pb-2">
  <button
    (click)="backToProfile()"
    class="bg-[var(--color-brand2)] hover:bg-[var(--color-brand3)] transition-colors duration-200 rounded-full w-10 h-10 flex items-center justify-center shadow-md"
  >
    <lucide-icon name="chevron-left" class="w-6 h-6 text-white"></lucide-icon>
  </button>

  <h2 class="text-2xl md:text-3xl font-bold text-[var(--color-brand1)] tracking-wide uppercase">
    Change Password
  </h2>
</div>

<div class="flex items-center justify-center">
  <form [formGroup]="changePasswordForm" class="space-y-5 w-md shadow-2xl p-4 rounded">
    <!-- Current Password -->
    <div class="w-full mb-5">
      <label class="px-2 block text-sm font-semibold text-brand1 mb-2"
        >Current Password <span class="text-sm text-red-500">*</span></label
      >

      <div class="relative">
        <input
          type="{{ showCurrentPassword() ? 'text' : 'password' }}"
          formControlName="current"
          placeholder="Enter your current password"
          class="w-full pr-10 px-4 py-2 outline-1 outline-brand2 rounded-lg focus:outline-none focus:ring-2 focus:ring-[var(--color-brand3)] transition text-brand1 placeholder:text-gray-700"
          [ngClass]="{
            'outline-red-500':
              changePasswordForm.get('current')?.invalid &&
              changePasswordForm.get('current')?.touched
          }"
        />

        <!-- Eye Icon -->
        <button
          type="button"
          (click)="toggleShowPassword('current')"
          class="absolute inset-y-0 right-3 flex items-center text-gray-500"
          tabindex="-1"
        >
          <lucide-icon
            [name]="showCurrentPassword() ? 'eye-off' : 'eye'"
            class="w-5 h-5 cursor-pointer hover:text-brand3"
          ></lucide-icon>
        </button>
      </div>

      @if (changePasswordForm.get('current')?.invalid && changePasswordForm.get('current')?.touched)
      {
      <p class="px-2 text-sm text-red-500 mt-1">Current password is required</p>
      }
    </div>

    <!-- New Password -->
    <div class="w-full mb-5">
      <label class="px-2 block text-sm font-semibold text-brand1 mb-2"
        >New Password <span class="text-sm text-red-500">*</span></label
      >

      <div class="relative">
        <input
          type="{{ showNewPassword() ? 'text' : 'password' }}"
          formControlName="newPassword"
          placeholder="Enter your new password"
          class="w-full pr-10 px-4 py-2 outline-1 outline-brand2 rounded-lg focus:outline-none focus:ring-2 focus:ring-[var(--color-brand3)] transition text-brand1 placeholder:text-gray-700"
          [ngClass]="{
            'outline-red-500':
              changePasswordForm.get('newPassword')?.invalid &&
              changePasswordForm.get('newPassword')?.touched
          }"
        />

        <!-- Eye Icon -->
        <button
          type="button"
          (click)="toggleShowPassword('newPassword')"
          class="absolute inset-y-0 right-3 flex items-center text-gray-500"
          tabindex="-1"
        >
          <lucide-icon
            [name]="showNewPassword() ? 'eye-off' : 'eye'"
            class="w-5 h-5 cursor-pointer hover:text-brand3"
          ></lucide-icon>
        </button>
      </div>

      @if (changePasswordForm.get('newPassword')?.invalid &&
      changePasswordForm.get('newPassword')?.touched) {
      <p class="px-2 text-sm text-red-500 mt-1">New password is required</p>
      }
    </div>

    @if (!loading()) {
    <button
      type="submit"
      (click)="handleChangePassword()"
      class="w-full mt-2 bg-[var(--color-brand1)] text-white py-2 rounded-lg font-semibold tracking-wide hover:bg-[var(--color-brand2)] transition disabled:bg-gray-400 disabled:cursor-not-allowed"
      [disabled]="changePasswordForm.invalid"
    >
      Update Password
    </button>
    } @else {
    <button
      type="button"
      disabled
      class="w-full mt-2 bg-gray-400bg-[var(--color-brand2)] text-white py-2 rounded-lg font-semibold tracking-wide flex items-center justify-center gap-2 cursor-not-allowed"
    >
      <!-- Spinning Lucide loader -->
      <lucide-icon name="loader" class="w-5 h-5 animate-spin"></lucide-icon>
      Updating Password...
    </button>
    }
  </form>
</div>
