<h2
  class="text-2xl text-center md:text-left md:text-3xl font-bold text-[var(--color-brand1)] border-b-4 border-[var(--color-brand2)] pb-2 mb-6 tracking-wide uppercase"
>
  Edit Book
</h2>
@if (book) {
<app-book-form-component
  [book]="book"
  [formMode]="editMode"
  [isSubmitting]="loading"
  [submittingInfo]="loadingInfo"
  (edit)="handleBookEdit($event)"
></app-book-form-component>

} @else {
<div class="h-40 flex items-center justify-center italic font-semibold text-brand1">
  Book not found
</div>
}
