<div
      class="flex flex-col items-center justify-center h-[80vh] text-center px-6"
    >
      <h1 class="text-[var(--color-brand1)] text-6xl font-extrabold mb-4">
        500
      </h1>
      <h2 class="text-2xl md:text-3xl font-bold text-[var(--color-brand2)] mb-2">
        Internal Server Error
      </h2>
      <p class="text-gray-500 mb-6 max-w-md">
        The server encountered an internal error or misconfiguration and was unable to complete your request. <br>
        Please contact the server administrator at support@libraryverse.com and inform them of the time this error occured, and the actions you performed just before this error. <br>
        More information about this error may be available in the server log.
      </p>
      <a
        routerLink="/"
        class="px-6 py-3 rounded-xl bg-[var(--color-brand1)] text-white hover:bg-[var(--color-brand2)] transition"
      >
        Return to Home
      </a>
    </div>